{% import "macros/widgets.html.twig" as widgets %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title me-1">
            Active Members
        </h3>
        {{ widgets.label((data.users|length) ~ ' users', 'primary') }}

        <div class="card-actions">
            {{ widgets.card_tool_button('fa fa-minus', {'widget': 'collapse'}) }}
            {{ widgets.card_tool_button('fa fa-times', {'widget': 'remove'}) }}
        </div>
    </div>
    <div class="list-group list-group-flush box-body-scrollable">
        {% set lastFirstChar = '999999' %}
        {% for user in data.users|sort((a,b) => a.displayName <=> b.displayName ) %}
            {% set username = widgets.username(user) %}
            {% set firstChar = username|first|upper %}
            {% if firstChar != lastFirstChar %}
                <div class="list-group-header sticky-top">{{ firstChar }}</div>
                {% set lastFirstChar = firstChar %}
            {% endif %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <a href="#">
                            {{ widgets.user_avatar(user, false, 'profile-user-img') }}
                        </a>
                    </div>
                    <div class="col text-truncate">
                        <a href="{{ path('user_profile', {'username': user.username}) }}" class="text-body d-block">{{ widgets.username(user) }}</a>
                        <div class="text-body-secondary text-truncate mt-n1">Last login: {{ user.lastLogin is null ? 'never' : user.lastLogin|date_short }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex">
        <a href="{{ path('admin_user') }}" class="card-btn">View All Users</a>
    </div>
</div>
