{% import "macros/widgets.html.twig" as widgets %}

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Active Members</h3>

        <div class="box-tools pull-right">
            <span class="label label-danger">{{ data.amount }} users</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <ul class="users-list clearfix">
            {% for user in data.users %}
                <li>
                    {{ widgets.user_avatar(user, false) }}
                    <a class="users-list-name" href="{{ path('user_profile', {'username': user.username}) }}">{{ widgets.username(user) }}</a>
                    <span class="users-list-date">Last login: {{ user.lastLogin is null ? 'never' : user.lastLogin|date_short }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="box-footer text-center">
        <a href="{{ path('admin_user') }}" class="uppercase">View All Users</a>
    </div>
</div>
