{% embed 'dashboard/widget.html.twig' with {fullsize: true} %}
    {% import "macros/widgets.html.twig" as widgets %}
    {% block box_body %}
    <div class="list-group list-group-flush box-body-scrollable">
        {% set lastFirstChar = '999999' %}
        {% for user in data.users|sort((a,b) => a.displayName <=> b.displayName ) %}
            {% set username = widgets.username(user) %}
            {% set firstChar = username|first|upper %}
            {% if firstChar != lastFirstChar %}
                <div class="list-group-header sticky-top">{{ firstChar }}</div>
                {% set lastFirstChar = firstChar %}
            {% endif %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <a href="#">
                            {{ widgets.user_avatar(user, false, 'profile-user-img') }}
                        </a>
                    </div>
                    <div class="col text-truncate">
                        <a href="{{ path('user_profile', {'username': user.username}) }}" class="text-body d-block">{{ widgets.username(user) }}</a>
                        <div class="text-body-secondary text-truncate mt-n1">Last login: {{ user.lastLogin is null ? 'never' : user.lastLogin|date_short }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
    {% block box_tools %}
        <a href="{{ path('admin_user') }}" class="ms-auto m-0">{{ widgets.label((data.users|length) ~ ' users', 'primary') }}</a>
    {% endblock %}
{% endembed %}